

/* Start of XXX */
/* #_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_# */
/* End of XXX */
body{
    display: flex;
    justify-content: center;
    background-color: #000000;
    font-family: 'Inter', sans-serif;
    

}
/* Container applying max-width  to header and footer */
.container{
    max-width: 1700px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}


/* Start of navbar */

nav{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    height: 80px;
    align-items: center;
    width: 1200px;
}

/* left elements of the nav bar */
.nav-left{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-elements{
    display: flex;
    gap: 10px;
}
/* right elements of the nav bar */
.nav-right{
    display: flex;
    align-items: center;
    gap: 10px;
}
/* navbar text */
nav a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
}
/* navbar button */
nav button{
    padding: 10px 20px;
    border: none;
    background-color: #000000;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

/* End  of navbar */
/* #_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_# */
/* Start of Intro */


.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style of intro's text */

.intro h1{
    font-size: 60px;
    font-family: 'Playfair Display', serif;
    font-weight: bolder;

}

.intro p{
    color: #747474;
    padding-bottom: 20px;
    margin:0px;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    
}


.intro h4{
    color: #747474;
    font-size: x-small;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
}

.button-intro{
    background-color: #05A667;
    width: 300px;
    height: 60px;
    border-radius: 15px;
    color: white;
    font-family: 'Inter', sans-serif;
}

.intro img{
    padding-top: 40px;
    transform: scale(1.3);
}

.bottom-intro {
    display: flex;
    gap:100px;
}

.bottom-intro-ele1, .bottom-intro-ele2, .bottom-intro-ele3, .bottom-intro-ele4{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-intro h3{
    font-size: 14px;
    color: #747474;
    font-family: 'Inter', sans-serif;
}

/* End of Intro*/
/* #_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_# */
/* End of sell-section*/
.sell-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000PX;
    margin-top: 120px;
}

.sell-section button{
    padding: 10px 20px;
    border: 1px solid black;
    background-color: #FEC699;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
    width: 200px;
    border-radius: 25px;
}

.sell-section h1{
    font-size: 50px;
    padding-left: 20px;
}
.first-p-sell-section{
    font-size: 18px;
    width: 600px;
    
}

.fb-p-sell-section{
font-size: 18px;
    width: 300px;

}
.insta-p-sell-section{
    font-size: 18px;
    width: 300px;

}
.review-p-sell-section{
    font-size: 20px;
}
.fb-insta-sell-section{
    display: flex;
    flex-direction: row;
    align-items: center;

}


.sell-section-left-right{
    display: flex;
}

.sell-section-right img{
    position: relative;
    left: 27px;
    top: 57px;
}

.review-sell-section{
    border-radius: 44px;
    background-color: #FEC699;
    border: 2px solid black;
}

.review-p-sell-section{
    width: 800px;
    padding-left:30px;
    font-size: 18px;
}





.sell-review-jpg{
    border-radius: 200px;
    height: 40px;
    width: 40px;
    border: 1px solid black;
}

.review-sell-section-bot-left{
    display: flex;
    align-items: center;
    gap:10px;
    padding-left: 24px;
    
}

.review-sell-section-bot-right{
    display: flex;
    text-align: center;
    gap: 10px;
    padding-right: 24px;
}
.review-sell-section-bot{
    align-items: center;
    display: flex;
    justify-content: space-between;
}



/* End of sell-section*/
/* #_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_# */
/* Start of grow-section*/

.grow-section{
    display: flex;
    flex-direction: column;
    width: 1000PX;
    margin-top: 120px;
    
}

.grow-section button{
    padding: 10px 20px;
    border: 1px solid black;
    background-color: #84F2B6;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
    width: 200px;
    border-radius: 25px;
}

.grow-section h1{
    font-size: 50px;

}
.first-p-grow-section{
    font-size: 18px;
    width: 600px;
    
}

.fb-p-grow-section{
    font-size: 18px;
    width: 300px;

}
.insta-p-grow-section{
    font-size: 18px;
    width: 300px;

}
.review-p-grow-section{
    font-size: 20px;
}
.fb-insta-grow-section{
    display: flex;
    flex-direction: row;
    align-items: center;

}


.grow-section-left-right{
    display: flex;
}

.grow-section-right img{
    position: relative;
    right: 27px;
    top: 53px;
}

.review-grow-section{
    border-radius: 44px;
    background-color: #84F2B6;
    border: 2px solid black;
    color: rgb(0, 0, 0);
}

.review-p-grow-section{
    width: 800px;
    padding-left:30px;
    font-size: 18px;
}





.grow-review-jpg{
    border-radius: 200px;
    height: 40px;
    width: 40px;
    border: 1px solid black;
}

.review-grow-section-bot-left{
    display: flex;
    align-items: center;
    gap:10px;
    padding-left: 24px;
    
}

.review-grow-section-bot-right{
    display: flex;
    text-align: center;
    gap: 10px;
    padding-right: 24px;
}
.review-grow-section-bot{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

/* End of grow-section*/

/* #_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_# */
/* Start of manage-section*/
.manage-section{
    display: flex;
    flex-direction: column;
    width: 1000PX;
    margin-top: 120px;
}

.manage-section button{
    padding: 10px 20px;
    border: 1px solid black;
    background-color: #4A6EFC;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 200px;
    border-radius: 25px;
}

.manage-section h1{
    font-size: 50px;
    padding-left: 20px;
}

.first-p-manage-section{
    font-size: 18px;
    width: 600px;
}

.fb-p-manage-section{
font-size: 18px;
    width: 300px;

}
.insta-p-manage-section{
    font-size: 18px;
    width: 300px;
}
.review-p-manage-section{
    font-size: 20px;
}
.fb-insta-manage-section{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.manage-section-left-right{
    display: flex;
}

.manage-section-right img{
    position: relative;
    right: 27px;
    top: 85px;
}

.review-manage-section{
    border-radius: 44px;
    background-color: #4A6EFC;
    border: 2px solid black;
    color: white;
}

.review-p-manage-section{
    width: 800px;
    padding-left:30px;
    font-size: 18px;
}


.manage-review-jpg{
    border-radius: 200px;
    height: 40px;
    width: 40px;
    border: 1px solid black;
}

.review-manage-section-bot-left{
    display: flex;
    align-items: center;
    gap:10px;
    padding-left: 24px;
    
}

.review-manage-section-bot-right{
    display: flex;
    text-align: center;
    gap: 10px;
    padding-right: 24px;
}
.review-manage-section-bot{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

/* End of manage-section*/

/* #_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_# */
/* End of Statistic section*/

.statistic{
    margin-top: 120px;
}


.statistic-sales{
    border:2px solid black;
    border-radius: 30px;
    display: flex;
    align-items: center;
    height: 300px;
    width: 1000px;
    justify-content:space-evenly;
    margin-top: 60px;

}
/* left text*/
.statistic-sales-text{
    width:300px;
}
.statistic-sales-text p{
    color: rgb(85, 85, 85);
}
.statistic-sales-text h2{
    font-size: 36px;
}
/* right numbers*/
.statistic-sales-numbers{

    text-align: center;
    display: flex;
    width: 400px;
    justify-content: space-between;

}

.statistic-sales-number1,.statistic-sales-number2,.statistic-sales-number3 {
    display: flex;
    flex-direction: column;

}

.statistic-sales-number1 h1,.statistic-sales-number2 h1,.statistic-sales-number3 h1{
    margin:0px;
    font-size: 70px;
}
.statistic-sales-number1 h5,.statistic-sales-number2 h5,.statistic-sales-number3 h5{
    margin:0px;
    color: darkgray;
}
/* second part of statistic section */

.statistic-help{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

.statistic-help-live, .statistic-help-app, .statistic-help-mobile {
    border:1px solid black;
    border-radius: 30px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: left;
    padding-left: 10px;
    padding-top: 10px;
    width: 300px;
    height: 300px;
}
.statistic-help img{
    width: 40px;
    height: 40px;
    color: #F9DF4F;
}
.statistic-help h1{
    font-size: 26px;
}
/* 3rd part of statistic section */

.statistic-free{
    border:1px solid black;
    border-radius: 30px;
    width: 1000px;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 60px;

}
.statistic-free-right button{
    height: 50px;
    width: 250px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #FBDF52;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;

}
.statistic-free-right{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.statistic-free-right h5{
    color: rgb(100, 100, 100);
}
.statistic-free h1{
    width: 380px;
}
/* End of statistic-section*/

/* #_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_# */
/* Start of footer */
.footer{
    background-color: #000000;
    width: 1700px;
    display: flex;
    margin-top: 120px;
    flex-direction: column;
}
.footer-container{

    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

/* removing list styles and flexing them*/
.footer-container-rows{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-container-rows ul{
    list-style: none;
    padding-left: 0;
    color: white;
}
.footer-container-rows a{
    text-decoration: none;
    color: white;
}
.footer-container-rows h4{
    text-decoration: none;
    color: white;
}
.footer-container-firstrow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-container-secondrow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* Social icons aligning to bottom right*/
.footer-container-socials{
    display:flex;
    align-items: end;
    gap:10px;
}

.footer-container-socials i{
    transform: scale(1.6);
}

/* search bar and button */
.searchbar{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: CENTER;
}
#search-q{
    background-color: #000000;
    border:1px solid rgb(124, 124, 124);
    height: 40px;
    width: 300px;
    color: white;
    margin-left: 360px;
}
.searchbar button{
    background-color: #000000;
    border: none;
    position: relative;
    right: 34px;
}
.searchbar img{
    width: 150px;
    height: 40px;
}
.searchbar-imgs{
    padding-right: 50px;
}