
/* Start of XXX */
/* #_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_# */
/* End of XXX */

/* Container applying max-width  to header and footer */
.container{
    max-width: 100%;

}
/* Subcontainer applying a lesser max-width to rest of page's content excluding header and footer */
.subcontaienr{
    max-width: 20%;
}

/* Start of navbar */

nav{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    height: 80px;
    align-items: center;
}

/* left elements of the nav bar */
.nav-left{
    display: flex;
    align-items: center;
    gap: 50px;
}
.nav-elements{
    display: flex;
    gap: 50px;
}
/* right elements of the nav bar */
.nav-right{
    display: flex;
    align-items: center;
    gap: 50px;
}
/* navbar text */
nav a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}
/* navbar button */
nav button{
    padding: 10px 20px;
    border: none;
    background-color: #000000;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

/* End  of navbar */
/* #_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_##_#-#_#-#_# */
/* Start of Intro */


.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style of intro's text */

.intro h1{
    font-size: 60px;
}

.intro p{
    color: #747474;
    padding-bottom: 20px;
}


.intro h4{
    color: #747474;
    font-size: x-small;
}

.button-intro{
    background-color: #05A667;
    width: 300px;
    height: 60px;
    border-radius: 15px;
    color: white;
}

.intro img{
    padding-top: 40px;
    transform: scale(1.3);
}

.bottom-intro {
    display: flex;
    gap:100px;
}

.bottom-intro-ele1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bottom-intro-ele2{
    display: flex;
    flex-direction: column;
        align-items: center;
}
.bottom-intro-ele3{
    display: flex;
    flex-direction: column;
        align-items: center;
}
.bottom-intro-ele4{
    display: flex;
    flex-direction: column;
        align-items: center;
}

.bottom-intro h3{
    font-size: x-small;
    color: #747474;
}






/* End of Intro*/